{{addLocalCSS "/css/layouts/photos.css"}}


<div id="wrapper" class="pure-g-r">

	<div id="sidebar">
			<ul class="left-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Art</a></li>
				<li><a href="#">Urban</a></li>
				<li class="selected">Technology</li>
				<li><a href="#">Illustration</a></li>
				<li><a href="#">Nature</a></li>
				<li><a href="#">Animals</a></li>
				<li><a href="#">Other</a></li>
			</ul>
	</div>

	<div id="content">

		<div id="container" class="pure-g-r">

			<div class="pure-u-1-5 column">
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/4024630751/"><img src="http://farm3.staticflickr.com/2580/4024630751_12acda523b.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/4038942826/"><img src="http://farm3.staticflickr.com/2421/4038942826_14e4116273_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://farm3.staticflickr.com/2426/4013081949_7a43d91956.jpg"><img src="http://farm3.staticflickr.com/2426/4013081949_7a43d91956.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/4038942826/"><img src="http://farm3.staticflickr.com/2421/4038942826_14e4116273_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
			</div>
			
			
			<div class="pure-u-1-5 column">
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/3932778019/"><img src="http://farm4.staticflickr.com/3420/3932778019_a56037109f_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/3949185379/"><img src="http://farm4.staticflickr.com/3473/3949185379_c2e95e8fe9.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/blmiers2/6338141481/in/photolist-aE5CDp-aivmeQ-87whmV-eqZ4ao-7NXCq7-dtw3VF-bzEewa-cMZRas-cihuRN-ecGmHj-cMZANo-diZZXT-dbzGv1-bwk517-cqSiC3-dwGukt-dvuyu6-dscnVn-chDzVA-dwGq2X-crwSMo-dbzMtM-cqLEMC-ceXYVo-bAZY8B-cqSic1-dbx5bY-cMYCks-cih1e3-cMZDiL-bBppkF-d8w6df-cMZP1q-bmKpMy-bq8SDw-ceXw3w-cMYDsL-bKeP32-e8KTfD-cDp2LG-dwozuE-81meGN-akiWcm-87JHbX-a1dx4t-9HvHVt-7ZSp3W-amd9zc-awkDqS-7yLsm9-7Rx9HU/"><img src="http://farm7.staticflickr.com/6225/6338141481_ff6b922312.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg"><img src="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://farm3.staticflickr.com/2617/4180384301_a6f6d521e4.jpg"><img src="http://farm3.staticflickr.com/2617/4180384301_a6f6d521e4.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/4024630751/"><img src="http://farm3.staticflickr.com/2580/4024630751_12acda523b.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
			</div>
			
			
			<div class="pure-u-1-5 column">
				<div class="pure-u-1">
					<a href="http://farm3.staticflickr.com/2617/4180384301_a6f6d521e4.jpg"><img src="http://farm3.staticflickr.com/2617/4180384301_a6f6d521e4.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/29468339@N02/4542297929/in/photolist-7VosVx-c6Z8o9-7xGu5C-duyYAp-ayTr73-bx2vVn-9RycqB-8HKFkq-8cQWrY-dQDuep-bp4i1U-atouk9-e9yaMs-7KU6as-9oHvEu-9wsV1m-8hhr9r-eDFvFF-8D9mpc-a64EX7-9guj1U-9guirJ-cMxKkW-7G9XGy-beJzgK-7JEb8M-9guiEd-9guiMW-9grd2v-bhTUK2-9gZMpc-bAMZxh-bbZFCV-dHUYwv-8a3Qb4-ak58zS-dZriPP-7ydhk8-7VJffT-7SiNAA-e9iyyt-7CX7V6-8KtzGb-8tyiMn-drtYpv-8RKw3A-dLy32i-8T2mA5-a1oFtx-7QgR79-9ibZar"><img src="http://farm5.staticflickr.com/4072/4542297929_49286da35a.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/doug88888/5835473154/in/photolist-5D48BV-5F9ucZ-5HpUGH-62sAPu-62sBhS-68HMNj-6aE5Fa-6aJHWX-6cd2nF-6npyxG-6qKPtC-6taUVw-6wcbkc-6xTZGX-6xTZQ8-6xY8NC-6zNExr-6LDmj9-6SPiCh-6ZnsE5-6ZVFsA-72kQRu-7afKwU-7bY7nm-7wbe5K-b7dvEV-bHr6DR-bKDRc8-dmUkjH-bB6EUY-aNi2HK-dX6uFm-9YCbR9-9TEjS7-dgigFn-9QYjHp-bHrnGn-7Zfd5R-7Fodmc-87JHbX-abejwL-8vG6zD-8dYfWS-8dUZQP-9h4kiv-anoDhX-ajUU6H-9SVR6v-94GzFs-c8LzMs-aGLxBz/"><img src="http://farm3.staticflickr.com/2703/5835473154_7f2fc35297_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/4024630751/"><img src="http://farm3.staticflickr.com/2580/4024630751_12acda523b.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/29468339@N02/4542297929/in/photolist-7VosVx-c6Z8o9-7xGu5C-duyYAp-ayTr73-bx2vVn-9RycqB-8HKFkq-8cQWrY-dQDuep-bp4i1U-atouk9-e9yaMs-7KU6as-9oHvEu-9wsV1m-8hhr9r-eDFvFF-8D9mpc-a64EX7-9guj1U-9guirJ-cMxKkW-7G9XGy-beJzgK-7JEb8M-9guiEd-9guiMW-9grd2v-bhTUK2-9gZMpc-bAMZxh-bbZFCV-dHUYwv-8a3Qb4-ak58zS-dZriPP-7ydhk8-7VJffT-7SiNAA-e9iyyt-7CX7V6-8KtzGb-8tyiMn-drtYpv-8RKw3A-dLy32i-8T2mA5-a1oFtx-7QgR79-9ibZar"><img src="http://farm5.staticflickr.com/4072/4542297929_49286da35a.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
			</div>
			
			
			<div class="pure-u-1-5 column">
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/4038942826/"><img src="http://farm3.staticflickr.com/2421/4038942826_14e4116273_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/4024630751/"><img src="http://farm3.staticflickr.com/2580/4024630751_12acda523b.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/3932778019/"><img src="http://farm4.staticflickr.com/3420/3932778019_a56037109f_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/3949185379/"><img src="http://farm4.staticflickr.com/3473/3949185379_c2e95e8fe9.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/blmiers2/6338141481/in/photolist-aE5CDp-aivmeQ-87whmV-eqZ4ao-7NXCq7-dtw3VF-bzEewa-cMZRas-cihuRN-ecGmHj-cMZANo-diZZXT-dbzGv1-bwk517-cqSiC3-dwGukt-dvuyu6-dscnVn-chDzVA-dwGq2X-crwSMo-dbzMtM-cqLEMC-ceXYVo-bAZY8B-cqSic1-dbx5bY-cMYCks-cih1e3-cMZDiL-bBppkF-d8w6df-cMZP1q-bmKpMy-bq8SDw-ceXw3w-cMYDsL-bKeP32-e8KTfD-cDp2LG-dwozuE-81meGN-akiWcm-87JHbX-a1dx4t-9HvHVt-7ZSp3W-amd9zc-awkDqS-7yLsm9-7Rx9HU/"><img src="http://farm7.staticflickr.com/6225/6338141481_ff6b922312.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
			</div>
			
			
			<div class="pure-u-1-5 column">
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/3949185379/"><img src="http://farm4.staticflickr.com/3473/3949185379_c2e95e8fe9.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/3932778019/"><img src="http://farm4.staticflickr.com/3420/3932778019_a56037109f_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg"><img src="http://25.media.tumblr.com/3fdd23292b5a040db4ed5af6dd1b91f1/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/stuckincustoms/4038942826/"><img src="http://farm3.staticflickr.com/2421/4038942826_14e4116273_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
				
				<div class="pure-u-1">
					<a href="http://www.flickr.com/photos/doug88888/5835473154/in/photolist-5D48BV-5F9ucZ-5HpUGH-62sAPu-62sBhS-68HMNj-6aE5Fa-6aJHWX-6cd2nF-6npyxG-6qKPtC-6taUVw-6wcbkc-6xTZGX-6xTZQ8-6xY8NC-6zNExr-6LDmj9-6SPiCh-6ZnsE5-6ZVFsA-72kQRu-7afKwU-7bY7nm-7wbe5K-b7dvEV-bHr6DR-bKDRc8-dmUkjH-bB6EUY-aNi2HK-dX6uFm-9YCbR9-9TEjS7-dgigFn-9QYjHp-bHrnGn-7Zfd5R-7Fodmc-87JHbX-abejwL-8vG6zD-8dYfWS-8dUZQP-9h4kiv-anoDhX-ajUU6H-9SVR6v-94GzFs-c8LzMs-aGLxBz/"><img src="http://farm3.staticflickr.com/2703/5835473154_7f2fc35297_z.jpg" alt="sample image" /></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...<a href="#">continue</a></p>
				</div>
			</div>

			
		</div>

	</div>

</div>